*{
    margin: 0;
    padding: 0;
 }
 /* h1, p{
    color: purple;
} 

body div section p, 
body div section h1{
    
     color: red;
} 

.color-red{
    color: red;
}

body div.main-content h2.heading {
    font-style: italic;
    color: red;
} */

div{
    color: initial;
    margin-left: 20px;
}
/* serve para especificar que a color deve aplicar somente para a chamada inicial */

.pai > .filha > .filha{
    color: red;
}
/* ex:
'.pai.filha' & '.pai .filha'juntos e separados há diferença
já se eu quise pegar uma filha herdeira direta do pai ultilizar '>' antes da class filha 
EX: '.pai > .filha'
ainda se eu quiser só pegar a filha da filha acrecentar novamente mais um '>' 
EX: '.pai > .filha > .filha'  */